.error-container {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem;
	border-radius: 4px;
	background-color: rgba(244, 67, 54, 0.05);
	color: #f44336;

	&.warning {
		background-color: rgba(255, 152, 0, 0.05);
		color: #ff9800;
	}

	mat-icon {
		font-size: 20px;
		height: 20px;
		width: 20px;
	}

	.message {
		font-size: 14px;
	}
}

[dir="rtl"] {
	.error-container {
		flex-direction: row-reverse;
	}
}
