.personal-info-container {
	padding: 1rem;

	.form-fields {
		margin-top: 2rem;
	}

	.form-row {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		gap: 1rem;
		margin-bottom: 1rem;
	}
}
